<!-- * * * * * * * *<app-navbar></app-navbar>* * * * * * * * * * * * * * * * * * * * * * * -->





<!-- Page Content -->

<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <a class="navbar-brand" href="#"><img
                src="http://3.bp.blogspot.com/-qGXSMaaLW4M/UZ0uEc0WXpI/AAAAAAAAACI/5Tu_qkyBwag/s320/420565_120105364781817_1668584287_n.jpg"
                class="img-fluid" width="220" height="130"></a>
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
        <p></p>

        <details>
            <summary>Drawer 1</summary>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>

                <a href="#" class="list-group-item list-group-item-action list-group-item-primary"
                    routerLink="clientes">Clientes</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary
                    list group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list
                    group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger list
                    group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning list
                    group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list group
                    item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list
                    group item</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group
                    item</a>
            </div>
        </details>
        <details open>
            <summary>Drawer 2</summary>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
                <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
                <li class="list-group-item list-group-item-success">A simple success list group item</li>
                <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                <li class="list-group-item list-group-item-info">A simple info list group item</li>
                <li class="list-group-item list-group-item-light">A simple light list group item</li>
                <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
            </ul>
        </details>




    </mat-drawer>

    <div class="example-sidenav-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" mat-button (click)="drawer.toggle()">
                    <i class="{{icon}}" (click)="clickEvent()"></i>
                    Menu
                </button>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <p>Si llegamos aqui</p>
        <mat-drawer-container class="example-container" autosize><router-outlet></router-outlet></mat-drawer-container>
            
    </div>
    
    
</mat-drawer-container>



<!--  <a href="#" routerLink="clientes">Clientes</a> -->






<!-- * * * * * * * * * * <app-testgrid2></app-testgrid2> * * * * * * * * * * * * * * * * * * * * * -->